<:Title>
    User profile
    
<:Body>
    <h2>Напишем статью </h2>
    
    {{ if logged_in? }}
    <form e-submit="create" role="form">
        <div class="form-group">
            <input class="form-control" type="text" value="{{page._article._title}}" placeholder="Title">
            <br>
            <textarea class="form-control" value="{{page._article._subject}}" placeholder="Subject"></textarea>
            <br>
            <input type="submit" class="btn">
        </div>
    </form>
    {{ end }}
   <hr>     
   <h2>Ваши статьи</h2>
   {{ current_user_articles.each do |a| }}
     <h3><a href="/articles/{{article._id}}">{{a._title}}</a></h3>
     <p><span class="glyphicon glyphicon-time"></span> Posted on {{a.created_at}} by <a
                        href="/users/{{a.user_id}}">{{find_user(a.user_id)._name}}</a></p>

     {{if logged_in? && owner?(a)}}
        <a href="" e-click="delete(a)">Delete</a>
     {{end}}
   {{end}}
   