<:Title>
    Articles

<:Body>
    <h2> Статьи </h2>

    <div class="container">
        <div class="row">
            {{ store._articles.each do |a| }}
            <div class="col-lg-12">
                <h2><a href="/articles/{{a._id}}">{{ a.title }}</a></h2>
                   
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{a.created_at}} by <a
                        href="/users/{{a.user_id}}">{{find_user(a.user_id)._name}}</a></p>

                <div class="lead">
                    {{a.subject}}
                </div>
            </div>
            {{ end }}
        </div>
    </div>